/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
body {
  background-attachment: fixed;
  color: white;
  font-family: 'Quicksand';
}

.affirmations-background {
  background-image: linear-gradient(to bottom, #134d71, #78a7c6, #f7e4bf);
}

.mantras-background {
  background-image: linear-gradient(to bottom, #F2AAC5, #78a7c6, #134d71);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

input[type=radio] {
  margin: 0;
  width: 1.5vw;
}

label {
  padding-left: 1.5vw;
}

.title {
  font-size: 3vw;
  margin-top: 0;
  margin-bottom: 4vw;
  transition: color 0.5s;
}

.title:hover {
  color: #ccf2f4;
  transition: color 0.5s;
}

.prompt {
  font-size: 2vw;
  margin-bottom: 1vw;
  transition: color 0.5s;
}

.prompt:hover {
  color: #ccf2f4;
  transition: color 0.5s;
}

.message-select {
  width: 50vw;
  display: inherit;
  flex-direction: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 1vw;
  background: white;
  color: black;
  border: none;
  border-radius: 8px;
  padding: 1vw 0;
  margin-bottom: 8vw;
  transition: background-color 0.5s ease-in;
}

.radio-inputs {
  width: 30vw;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2vw;
}

.radios {
  font-style: italic;
  display: flex;
  align-items: center;
}

.receive-button {
  font-size: 1vw;
  width: 30%;
  background: #134d71;
  color: white;
  font-family: 'Quicksand';
  border: none;
  border-radius: 8px;
  padding: 0.5% 5%;
  transition: all 0.25s ease-in;
}

.receive-button:hover {
  background: #78a7c6;
  transition: all 0.25s ease-in;
}

.receive-button:focus {
  outline: 0;
}

.notification {
  width: 65vw;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2vw;
  background: white;
  color: black;
  border: none;
  border-radius: 8px;
  padding: 3vw 0;
  margin-bottom: 12vw;
  transition: background-color 0.5s ease-in;
}

.message {
  text-align: center;
  padding: 2vw 0;
  transition: opacity 4s ease-in;
}

.bell {
  position: absolute;
  width: 10em;
  height: 6em;
  transition: opacity 0.5s ease-in;
}

.hidden-icon {
  opacity: 0;
  transition: opacity 5s ease-out;
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.halo-mid {
  -webkit-animation: halopulse 0.75s ease-in-out alternate infinite;
  -moz-animation: halopulse 0.75s ease-in-out alternate infinite;
  -o-animation: halopulse 0.75s ease-in-out alternate infinite;
  animation: halopulse 0.75s ease-in-out alternate infinite;
}

.halo-side {
  -webkit-animation: halopulse 0.75s ease-in-out alternate infinite;
  -moz-animation: halopulse 0.75s ease-in-out alternate infinite;
  -o-animation: halopulse 0.75s ease-in-out alternate infinite;
  animation: halopulse 0.75s ease-in-out alternate infinite;
  animation-delay: 0.05s;
}

@-webkit-keyframes halopulse {
  0% {
    transform-origin: center center;
  }

  50% {
    transform: scale(0.88) translateY(-5%);
  }

  100% {
    transform-origin: center center;
  }
}

@-o-keyframes halopulse {
  0% {
    transform-origin: center center;
  }

  50% {
    transform: scale(0.88) translateY(-5%);
  }

  100% {
    transform-origin: center center;
  }
}

@-moz-keyframes halopulse {
  0% {
    transform-origin: center center;
  }

  50% {
    transform: scale(0.88) translateY(-5%);
  }

  100% {
    transform-origin: center center;
  }
}

@keyframes halopulse {
  0% {
    transform-origin: center center;
  }

  50% {
    transform: scale(0.88) translateY(-5%);
  }

  100% {
    transform-origin: center center;
  }
}

@media screen and (max-width: 480px) {
  main {
    margin-top: 20vh;
  }

  .title {
    font-size: 8vw;
  }

  .prompt {
    font-size: 4vw;
  }

  .message-select {
    width: 80%;
    height: 20vw;
    padding: 3%;
    font-size: 2.9vw;
    margin-bottom: 10vw;
  }

  .notification {
    width: 80%;
    height: 20vw;
    padding: 5%;
  }

  .radio-inputs {
    width: 60%;
    padding-top: 1em;
  }

  .receive-button {
    font-size: 1em;
   width: 6em;
   height: 2rem;
   padding: 0;
  }

  .bell {
    width: 20em;
    height: 20em;
  }

  .message {
    font-size: 5vw;
  }
  .hidden-icon {
    opacity: 0;
    transition: opacity 5s ease-out;
  }

  .hidden {
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }
}
